html,body{
  margin: 0;
  min-width:1300px;
  height: 100%;
  font-size: 14px;
}
input{
  border:none;
  outline:none;
  appearance:none;
  -webkit-appearance:none;
}
div.login_bg{
  position: relative;
}
img.login_bg_pic{
  max-width:100%;
}
div.main{
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-250px;
  margin-left:-500px;
}
img.sys_logo{
  display: block;
  height:40px;
  position: absolute;
  top: 0;
  left: 0;
}
img.login_pc{
  display: block;
  height: 360px;
  position: absolute;
  left: 0;
  bottom:0;
}
div.login_form{
  width: 340px;
  height: 320px;
  background: #fff;
  outline:5px solid rgba(255,255,255,.5);
  position: absolute;
  right: 0;
  bottom: 80px;
}
h4.form_header{
  color: #4f99f2;
  margin: 30px 20px 0px;
  border-bottom: 1px solid #d2d2d2;
  line-height: 40px;
  font-size: 18px;
  font-weight: normal;
}
input[type=text].login_input,
input[type=password].login_input{
  width: 300px;
  display: block;
  margin:20px;
  height: 40px;
  padding:10px;
  padding-left: 50px;
  border:1px solid #e2e2e2;
  border-radius: 4px;
}
input[type=text].username{
  background: url(../../assets/images/login_user.png) no-repeat left center;
}
input[type=password].password{
  background: url(../../assets/images/login_key.png) no-repeat left center;
}
input[type=button].submit{
  width: 300px;
  display: block;
  margin: 0 20px;
  background: #3987ed;
  border:none;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size:16px;
}
div.tip{
  margin: 5px 20px 0px;
  color:#f00;
}
div.copyright{
  margin-top: 20px;
  color:#909090;
  text-align: center;
  line-height: 24px;
}
