/*头部*/
.phead{
	width:100%;
	min-width: 1300px;
	height:70px;
	position:absolute;
	top:0;
	left:0;
	z-index:999;
}
.head_con{
    height:70px;
    background:url(../../assets/images/head_bg.jpg) repeat-x center center;
    background-size:cover;
    box-shadow: 0 0 1px 1px #383838;
}
.head_con .left{
    height:100%;
    float:left;
    overflow: hidden;
}
.head_con .left span{
    display:block;
    height:100%;
    width: 200px;
    float: left;
    background:url(../../assets/images/logo.png) no-repeat center center;
    background-size:auto 46px;
}
.head_con .left b{
	display: block;
	float: left;
	font-size:20px;
	color:#fff;
    font-weight: normal;
	margin-left: 20px;
	line-height: 70px;
}
.head_con .right{
    float:right;
    height:70px;
    line-height:70px;
    padding-right:30px;
}
.head_con .right span{
    font-size:14px;
    color:#fff;
    font-weight:200;
    padding:0 10px;
    background:url(../../assets/images/head_icon_06.png) no-repeat right center;
    cursor: pointer;
}
.head_con .right span small{
    font-size:14px;
    color:#fff;
    font-weight:200;
}

.head_con .right span.exit{
	background:none;
}
.head_con .right span.exit small{
    padding-right:20px;
    background:url('../../assets/images/head_icon_12.png') no-repeat right center;
}