a:link,
a:hover,
a:active,
a:visited{
	text-decoration: none;
}
/*侧边栏*/
.psidebar{
    width:200px;
    height:100%;
    background:#3d4851;
    position:absolute;
    top:0;
    left:0;
    z-index:99;
}
.psidebarinner{
    padding-top:70px;
}
.sidebar_list{
    background:#3d4851;
}
.sidebar_list ul{
	margin-bottom: 0;
	padding:0;
}
.sidebar_list ul li a{
    display: block;
    padding-left:12px;
    color:#728798;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar_list ul li.active a{
    background:#58646d url('../../assets/images/sidebarline.jpg') repeat-y left center;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar_list ul li a span{
    display: block;
    font-size:14px;
    height:46px;
    line-height:46px;
    padding-left: 40px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar_list ul li.active a span{
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar_list ul li.num_01 a span{
    background:url(../../assets/images/sidebar_icon_default_01.png) no-repeat left center;
    background-size: auto 30px;
}
.sidebar_list ul li.num_02 a span{
    background:url(../../assets/images/sidebar_icon_default_02.png) no-repeat left center;
    background-size: auto 30px;
}
.sidebar_list ul li.num_03 a span{
    background:url(../../assets/images/sidebar_icon_default_03.png) no-repeat left center;
    background-size: auto 30px;
}
.sidebar_list ul li.num_04 a span{
    background:url(../../assets/images/sidebar_icon_default_04.png) no-repeat left center;
    background-size: auto 30px;
}
.sidebar_list ul li.num_05 a span{
    background:url(../../assets/images/sidebar_icon_default_05.png) no-repeat left center;
    background-size: auto 30px;
}
.sidebar_list ul li.num_06 a span{
    background:url(../../assets/images/sidebar_icon_default_06.png) no-repeat left center;
    background-size: auto 30px;
}
.sidebar_list ul li.num_01.active a span{
    color:#fff;
    background:url(../../assets/images/sidebar_icon_active_01.png) no-repeat left center;
    background-size: auto 30px;
}
.sidebar_list ul li.num_02.active a span{
    color:#fff;
    background:url(../../assets/images/sidebar_icon_active_02.png) no-repeat left center;
    background-size: auto 30px;
}
.sidebar_list ul li.num_03.active a span{
    color:#fff;
    background:url(../../assets/images/sidebar_icon_active_03.png) no-repeat left center;
    background-size: auto 30px;
}
.sidebar_list ul li.num_04.active a span{
    color:#fff;
    background:url(../../assets/images/sidebar_icon_active_04.png) no-repeat left center;
    background-size: auto 30px;
}
.sidebar_list ul li.num_05.active a span{
    color:#fff;
    background:url(../../assets/images/sidebar_icon_active_05.png) no-repeat left center;
    background-size: auto 30px;
}
.sidebar_list ul li.num_06.active a span{
    color:#fff;
    background:url(../../assets/images/sidebar_icon_active_06.png) no-repeat left center;
    background-size: auto 30px;
}

/*表格、查询、显示区*/
.pmain_con{
    width:100%;
    min-width: 1300px;
    height:100%;
    position:absolute;
        background:#eaeced;
    top:0;
    left:0;
    z-index: 9;
}
.pmainconinner{
    padding-top:70px;
    padding-left:200px;
}
/*search*/
.pmainconinner .search{
    background:#fff;
    border-bottom: 1px solid #dbd9d9;
    padding:10px 20px;
}
.pmainconinner .search:after{
    content:' ';
    display: block;
    clear:both;
}